 .login__form{
    margin-top: 130px;
    text-align: center;
    height: 430px;
    background-image: url(../../utils/images/login.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.login__form > h2 {
    padding-top: 30px;
    font-size: 30px;
    color: teal;
    font-family: cursive;
}

.check {
    margin-bottom: 15px;
}


@media only screen and (max-width : 400px) {
    .login__form{
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 600px;
        background-attachment: fixed;
    }
    .check {
        margin-bottom: 10px;
    }
    .login__form > h2 {
        padding-top: 100px;
        font-size: 30px;
        color: teal;
        font-family: cursive;
    }
}

@media only screen and (min-width : 401px) and (max-width : 700px) {
    .login__form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 600px;
    }
    .check {
        margin-bottom: 20px;
    }
    .login__form > h2 {
        padding-top: 140px;
        font-size: 30px;
        color: teal;
        font-family: cursive;
    }
}